attrs==22.1.0
flake8==5.0.3
iniconfig==1.1.1
mccabe==0.7.0
mypy==0.971
mypy-extensions==0.4.3
packaging==21.3
pluggy==1.0.0
py==1.11.0
pycodestyle==2.9.0
pyflakes==2.5.0
pyparsing==3.0.9
pytest==7.1.2
pytest-asyncio==0.19.0
tomli==2.0.1
