:root {
    --light-hl-0: #000000;
    --dark-hl-0: #D4D4D4;
    --light-hl-1: #795E26;
    --dark-hl-1: #DCDCAA;
    --light-code-background: #F5F5F5;
    --dark-code-background: #1E1E1E;
}

@media (prefers-color-scheme: light) { :root {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --code-background: var(--light-code-background);
} }

@media (prefers-color-scheme: dark) { :root {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --code-background: var(--dark-code-background);
} }

body.light {
    --hl-0: var(--light-hl-0);
    --hl-1: var(--light-hl-1);
    --code-background: var(--light-code-background);
}

body.dark {
    --hl-0: var(--dark-hl-0);
    --hl-1: var(--dark-hl-1);
    --code-background: var(--dark-code-background);
}

.hl-0 { color: var(--hl-0); }
.hl-1 { color: var(--hl-1); }
pre, code { background: var(--code-background); }
