target
.env
.vscode
bin
config.json
node_modules
./package-lock.json
hfuzz_target
hfuzz_workspace
**/*.so
**/.DS_Store
test-ledger
docker-target
.idea
.coderrect
.turbo

# 1.18 Patching
ci/detect-changed-manifests.sh
ci/publish-new-crates.sh
update-crate.sh