[package]
name = "spl-account-compression"
version = "0.1.6"
description = "Solana Program Library Account Compression Program"
authors = ["Solana Maintainers <maintainers@solana.foundation>"]
repository = "https://github.com/solana-labs/solana-program-library"
license = "Apache-2.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "lib"]

[features]
no-entrypoint = []
no-idl = []
no-log-ix-name = []
cpi = ["no-entrypoint"]
default = []

[dependencies]
anchor-lang = "0.26.0"
bytemuck = "1.8.0"
spl-concurrent-merkle-tree = { version="0.1.2", path="../../../libraries/concurrent-merkle-tree", features = [ "sol-log" ]}
spl-noop = { version = "0.1.3", path="../noop", features = [ "no-entrypoint" ]}

[profile.release]
overflow-checks = true
