[package]
name = "stateless-asks"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[features]
no-entrypoint = []
test-sbf = []

[dependencies]
borsh = "1.5.1"
solana-program = "2.0.3"
spl-token = { version = "6.0", path = "../../token/program", features = [
  "no-entrypoint",
] }
spl-associated-token-account-client = { version = "1.0.0", path = "../../associated-token-account/client" }
thiserror = "1.0"

[dev-dependencies]
solana-program-test = "2.0.3"
solana-sdk = "2.0.3"

[lib]
crate-type = ["cdylib", "lib"]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
