[package]
name = "spl-token-2022"
version = "0.7.0"
description = "Solana Program Library Token 2022"
authors = ["Solana Labs Maintainers <maintainers@solanalabs.com>"]
repository = "https://github.com/solana-labs/solana-program-library"
license = "Apache-2.0"
edition = "2021"
exclude = ["js/**"]

[features]
no-entrypoint = []
test-sbf = []
serde-traits = ["serde", "serde_with"]
# Remove these features once the underlying syscalls are released on all networks
default = ["zk-ops"]
zk-ops = []
proof-program = []

[dependencies]
arrayref = "0.3.7"
bytemuck = { version = "1.13.1", features = ["derive"] }
num-derive = "0.3"
num-traits = "0.2"
num_enum = "0.6.1"
solana-program = "1.16.1"
solana-zk-token-sdk = "1.16.1"
spl-memo = { version = "4.0.0", path = "../../memo/program", features = [ "no-entrypoint" ] }
spl-transfer-hook-interface = { version = "0.1.0", path = "../transfer-hook-interface" }
spl-token = { version = "4.0",  path = "../program", features = ["no-entrypoint"] }
thiserror = "1.0"
serde = { version = "1.0.164", optional = true }
serde_with = { version = "2.0.0", optional = true }

[dev-dependencies]
lazy_static = "1.4.0"
proptest = "1.2"
serial_test = "2.0.0"
solana-program-test = "1.16.1"
solana-sdk = "1.16.1"
serde_json = "1.0.99"

[lib]
crate-type = ["cdylib", "lib"]

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]
