[package]
authors = ["Solana Maintainers <maintainers@solana.foundation>"]
description = "SPL-Stake-Pool Command-line Utility"
edition = "2018"
homepage = "https://spl.solana.com/stake-pool"
license = "Apache-2.0"
name = "spl-stake-pool-cli"
repository = "https://github.com/solana-labs/solana-program-library"
version = "2.0.1"

[dependencies]
clap = "2.33.3"
serde_json = "1.0.57"
solana-account-decoder = "1.4.4"
solana-clap-utils = "1.4.4"
solana-cli-config = "1.4.4"
solana-client = "1.4.4"
solana-logger = "1.4.4"
solana-sdk = "1.4.4"
spl-stake-pool = { version = "0.1.0", path="../program", features = [ "exclude_entrypoint" ] }

[[bin]]
name = "spl-stake-pool"
path = "src/main.rs"
